html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.gameback {
    background-image: url("images/neonback.jpg") ;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    
}
.resultdiv {
    display: flex;
    justify-content: space-evenly;
}
.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result {
    font-family: "Tilt Neon",sans-serif;
    text-align: center;
    font-size: 90px;
    color: rgb(255, 243, 254);
    border: 5px solid rgba(0, 0, 0, 0.479);
    border-radius: 20px;
    padding: 0 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(48, 28, 40);
}
img {
    filter: invert(10%) sepia(34%) saturate(1118%) hue-rotate(257deg) brightness(91%) contrast(96%);
}

.chooser {
    display: flex;
    text-align: center;
    margin-bottom: 22px;
}

.choose {
    border: 5px solid rgba(0, 0, 0, 0.479);
    padding: 4px 18px;
    border-radius: 20px;
    background-color: rgba(235, 152, 210, 0.3);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px rgb(48, 28, 40);
}
@media (hover:hover){
    .choose:hover{
        background-color: rgba(233, 167, 208, 0.623);
        backdrop-filter: blur(12px);
        box-shadow: 0 0 20px rgb(177, 124, 156);
        filter: invert(2%);
        cursor: pointer;
    }    
}
.message {
    margin: 0 0 40px 0;
    font-family: "Tilt Neon",sans-serif;
    color: rgb(255, 243, 254);
    font-size: 30px;
    border: 5px solid transparent;
    height: 30px;
    font-weight: 800;
    backdrop-filter: blur(5px);
}
figcaption {
    font-family: "Tilt Neon",sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: rgb(59, 41, 57);
}

h1, h4 {
    font-family: "Tilt Neon",sans-serif;
    text-align: center;
}

h4 {
    font-size: 50px;
    color: rgb(255, 243, 254);
    margin: 0;
    padding-top: 40px;
    padding-right: 390px;
}
@keyframes shadow {
    0% {text-shadow: 0 0 5px blueviolet;}
    100% {text-shadow: 0 0 30px;}
}
h1 {
    font-size: 100px;
    color: rgb(255, 243, 254);
    animation-name: shadow;
    animation-iteration-count: infinite;
    animation-duration: .02s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    margin: 0 0 70px 0;
}

.messagechoose {
    margin: 0 0 0 0;
    font-family: "Tilt Neon",sans-serif;
    color: rgb(255, 243, 254);
    font-size: 20px;
    border: 5px solid transparent;
    height: 20px;
    font-weight: 800;
    backdrop-filter: blur(5px);
}